@import './_mixins.scss';

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    color: #EF3D23;
}

.btn{
    &__primary,
    &__secondary,
    &__active,
    &__dormant{
        color: #FFFFFF;
        border: none;
        padding: 1rem 1.5rem;
        font-size: 1.25rem;
        font-weight: 700;
        border-radius: 5px;
        max-width: 250px;
    }

    &__primary:focus,
    &__secondary:focus,
    &__active:focus{
        border: none;
        outline: none;
    }

    &__primary{
        background-color: #EF3D23;
    }

    &__primary:hover{
        background-color: #B60201;
        cursor: pointer;
    }

    &__secondary{
        background-color: #1B313E;
    }

    &__secondary:hover{
        background-color: #09212F;
        cursor: pointer;
    }

    &__active{
        background-color: #1B313E;
        margin: 0 0.5rem;
    }

    &__dormant{
        color: #1B313E;
        border: 2px solid #1B313E;
        background-color: transparent;
    }
}

.container{
    margin: 0 1rem;

    @include breakpoint('desktop'){
        max-width: 1200px;
        margin: 0 auto;
    }
}

.colored{
    color: #EF3D23;
}