@import './_mixins.scss';

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.btn{
    &__primary{
        background-color: #EF3D23;
        color: #FFFFFF;
        border: none;
        padding: 1rem 1.5rem;
        font-size: 1.25rem;
        font-weight: 700;
        border-radius: 5px;
        max-width: 250px;
    }

    &__primary:hover{
        background-color: #B60201;
        cursor: pointer;
    }
}